
/* Global Styles ------------------------------------------------------------------------------------------------ */
/* div, span, iframe, h1, h2, h3, h4, h5, h6, p, em, img, small, strike, strong, sub, sup, b, u, i, center, 
label, legend, table, caption, tr, th, td, figure, footer, header, menu, nav, section, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  direction: rtl;
} */

body {
    margin: 0;
}


/* Header Styles ------------------------------------------------------------------------------------------------ */
header {
    height: 85vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 20vw;
    font-weight: bold;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.8);
    letter-spacing: -0.07em;
}


/* TimeLine Section --------------------------------------------------------------------------------------------- */
#timeline-section {
    padding: 2rem;
    margin: 9vh 0;
}

/* .timeline {
    height: 8px;
    background: #444;
    margin: 40px 0;
    width: 100%;
} */

.tooltip-date {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    padding: 4px 8px;
    font-size: 18px;
    border-radius: 4px;
    white-space: nowrap;
}

.tooltip-title {
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 50px;
    left: 50%;
    color: black;
    padding: 4px 8px;
    font-size: x-large;
    white-space: nowrap;

    opacity: 0;
    transition: 0.5s;
}

.tooltip-detail {
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: justify;
    position: absolute;
    top: 90px;
    left: 50%;
    color: rgb(44, 44, 44);
    padding: 4px 8px;
    z-index: 1;

    opacity: 0;
    transition: 0.5s;
}

.tooltip-line {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 1px;
    height: 300px;
    background: rgb(68, 65, 72);

    opacity: 0;
    transition: 0.5s;
}

.tooltip-dot {
    position: absolute;
    top: -51px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background: rgb(68, 65, 72);
    border-radius: 50%;

    opacity: 0;
    transition: 0.5s;
}

.tooltip-title,
.tooltip-line,
.tooltip-dot {
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.events-container {
    position: relative;
    top: -19px;
    width: 100%;
    height: 0;
}

.event-dot {
    position: absolute;
    top: -3px;
    width:  16px;
    height: 16px;
    background: rgb(68, 65, 72);
    border-radius: 50%;
    z-index: 1;
}

.event-line {
    height: 8px;
    position: absolute;
    box-shadow: 0 -3px 30px rgba(0, 0, 0, 0.7);
}


.now-dot {
    width:  16px;
    height: 16px;
    background: #763737;
}


    .event-dot .interactive-zone {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        width:  200%;
        height: 200%;
        cursor: pointer;
        background: transparent;
    }

    .event-dot.active{
        background: rgba(68, 65, 72, 0);
        border: 2px solid rgba(68, 65, 72, 0);
    }

    .event-dot.active .tooltip-title ,
    .event-dot.active .tooltip-line  , 
    .event-dot.active .tooltip-dot   ,
    .event-dot.active .tooltip-detail {
        opacity: 1 !important;
        transition: 0.5s;
        pointer-events: auto;
    }

    .event-dot.active .tooltip-date {
        left: 40px;
        font-size: 1.4em;
    }


    .event-dot.dimmed .tooltip-date {
        left: 50%;
        font-size: 0.7em;
        opacity: 0.6;
    }

    .event-dot.dimmed .tooltip-detail {
        pointer-events: none;

    }




